<h2>User Informations</h2>

<div class="form-group col-md-12">
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">User name:</label>
    <div class="col-sm-6">
      <input type="text" id="name" class="form-control" #userName>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Address:</label>
    <div class="col-sm-6">
      <input type="text" id="address" class="form-control" #userAddress>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Age:</label>
    <div class="col-sm-6">
      <input type="number" id="age" class="form-control" #userAge>
    </div>
  </div>
  <button class="btn btn-dark" (click)="add(userName.value,userAddress.value,userAge.value); userName.value=''">
    add
  </button>
</div>