form {
    margin-top: 50px;
    margin-left: 25%;
}

form button {
    position: absolute;
    margin-left: 600px;
}

h2 {
    text-align: center;
    margin-top: 20px;
}
.users {
    margin: 0 0 5em 0;
    list-style-type: none;
    padding: 30px;
    width: 15em;
  }
  .users li {
    position: relative;
    cursor: pointer;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 2.2em;
    border-radius: 4px;
    width: 200px;
  }
  
  .users li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  
  .users a {
    color: #333;
    text-decoration: none;
    position: relative;
    display: block;
    width: 250px;
  }
  
  .users a:hover {
    color:#607D8B;
  }
  
  .users .badge {
    font-size: small;
    color: white;
    background-color:#405061;
    height: 2.0em;
    min-width: 20px;
    margin-right: .8em;
  }
  
  button {
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
  }
  
  button:hover {
    background-color: #cfd8dc;
  }
  
  button.delete {
    position: relative;
    left: 194px;
    top: -32px;
    background-color: rgb(192, 41, 41) !important;
    color: white;
  }