label {
  font-family: NovecentoNormal;
  font-size: 20px;
  align-content: flex-start;
  background-color: rgba(255, 255, 255, 0.75);
}

.form-group {
  font-family: NovecentoNormal;
  font-size: 20px;
  align-content: flex-start;
}

.forms-control input {
  border-color: #16a9de;
  font-family: VistaLight;
}



/* teto blue hex code #16a9de*/
