h3 {
  text-align: start;
  margin-bottom: 40px;
  margin-top: 60px;
  margin-left: 2%;
}

h4 {
  position: relative;
  color: white;
}

.row{
  width: 100%;
  margin-left: 0.1%;
}

.row button {
  margin-left: 94%;
  padding: 5px;
  border: 0px;
  border-radius: 5px;
  color: white;
  background-color: black;
}

a:hover, a {
  color: black;
}

.card {
  background-color: black;
}

#confirm {
  position: absolute;
  margin-left: 35%;
  background-color: whitesmoke;
  color: black;
  width: 400px;
  height: 200px;
}

#return{
  position: absolute;
  margin-left: 60px;
  margin-top: 30px;
  padding: 10px;
}

#del {
  position: absolute;
  margin-left: 200px;
  margin-top: 30px;
  padding: 10px;
}


.modal-title {
  color: black;
}