label{
    font-family: NovecentoNormal;
    font-size:20px;
    align-content:flex-start;
    color:dimgray;
    background-color:white;
    opacity:0.8;
}.form-group{
    font-family: NovecentoNormal;
    font-size:20px;
    align-content:flex-start;
}
.forms-control input {
  border-color: #16a9de;
  font-family: NovecentoLight;
}



/* teto blue hex code #16a9de*/
