<header id="main-header" data-height-onload="66" data-fixed-height-onload="0" style="top: 0px;">
  <div>
    <span class="logo_helper" style="font-size:30px !important"></span>
    <a class="nav-teto" href="#">
      <h2><img src="../assets/images/teto-logo-branca.png" height="60" draggable="true" alt="Brasil" id="logo" style="vertical-align:text-top">Volunteer Management App</h2>
    </a>

    <!--<nav class="nav-teto">
        <h1>{{title}}</h1>
    </nav>-->
  </div>
</header>

<div class="nav-teto">
  <menu style="align-items:start;">
    <menuitem class="nav-teto">
      <a routerLink="/volunteers"> Volunteers </a>
    </menuitem>
    <menuitem>
      <a routerLink="/dashboard">Dashboard</a>
    </menuitem>
  </menu>
</div>

<router-outlet></router-outlet>

<app-messages></app-messages>
