@import 'https://fonts.googleapis.com/css?family=Raleway';

:host h1 {
  font-family: NovecentoBold;
}
:host h2, h3, label, input{
    font-family:NovecentoNormal;
}
:host h3{
    font-family:NovecentoNormal;
}
:host label {
  font-family: NovecentoNormal;
}
body{
    margin: 2em;
}
:host a {
  text-decoration: none;
  color: azure;
  margin: 0px 20px;
  line-height: 0px;
}

:host menu {
  font-family: NovecentoBold;
  background-color: #16a9de;
  color: azure !important;
  text-align: left;
  font-size: 24px !important;
  padding: 2px 0px 2px 0px;
  max-height: 30px;
}

:host menuitem:hover {
  margin: 0 0 1.5em;
  background-color: #8fc5f7;
}

:host header {
  background-color: #16a9de;
  color: azure !important;
  text-align: center;
  line-height:inherit;
  font-size: 24px;
  max-height: 130px;
  vertical-align: central;
}


.nav-teto {
  background-color: #16a9de;
  color: azure !important;
  text-align: center;
  font-size: 24px;
  padding: 2px 0px 2px 0px;
}

  .nav-teto img {
      float: left;
  }
  .nav-teto h2{
      position: relative;
  }

.selected {
  background-color: #adcbd9 !important;
  color: white;
}

/*FONTS*/
@font-face {
  font-family: NovecentoBold;
  src: url(/assets/fonts/NovecentoBold.otf);
}

@font-face {
  font-family: NovecentoLight;
  src: url(/assets/fonts/NovecentoLight.otf);
}

@font-face {
  font-family: NovecentoNormal;
  src: url(/assets/fonts/NovecentoNormal.otf);
}

/* teto blue hex code #16a9de*/
