@import 'https://fonts.googleapis.com/css?family=Raleway';


:host h1 {
  font-family: NovecentoBold;
}

:host h2, h3, label, input {
  font-family: NovecentoNormal;
}

:host h3 {
  font-family: NovecentoNormal;
}

:host label {
  font-family: NovecentoNormal;
}

:host body{
    margin-top:5%;
}

:host a {
  text-decoration: none;
  color: azure;
  margin: 0px 20px;
  line-height: 0px;
  font-family: NovecentoBold;
}
menu-teto {
  font-family: NovecentoLight !important;
  background-color: #16a9de;
  color: azure !important;
  text-align: left;
  font-size: 24px !important;
  padding: 2px 0px 2px 0px;
  max-height: 30px;
}

:host header {
  background-color: #001b63;
  box-shadow: inherit 0px 2px;
  color: azure !important;
  text-align: start;
  line-height: inherit;
  font-size: 24px;
  max-height: 130px;
  width: 100%;
  top: 0;
  vertical-align: central;
  overflow: auto;
  position: fixed;
  display: block;
  z-index: 1;
  margin-bottom:0;
}

  :host header img {
    float: left;
    align-items: flex-start;
  }

.menu-teto {
    font-family: NovecentoLight !important;
    font-size: 20px;
  }

  .menu-teto:hover {
    background-color: #95a8db;
  }

:host .container {
  width: 80%;
  margin: 0 auto;
}

.dropdown-item {
  font-family: NovecentoBold;
  background-image: linear-gradient(#16a9de, #c3d5db);
}

.separate {
  background-color: white;
  margin: 0 0 0 0;
}

.btn-teto {
  background-color: #16a9de;
  color: azure !important;
  font-size: 20px;
  padding: 0px 5px 0px 5px;
  align-self: flex-end;
  box-shadow: #0e98c9 3px 3px;
}

.nav-teto {
  background-color: #16a9de;
  color: azure !important;
  text-align: center;
  align-items: flex-start;
  font-size: 24px;
  padding: 2px 0px 2px 0px;
  max-height: 50px;
}

:host ul {
  list-style-type: none;
  margin: 0;
  display: flex;
}

hr.style13 {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.shift {
  float: right;
}

  .shift ul li a {
    position: relative;
    z-index: 1;
  }

    .shift ul li a :hover {
      position: relative;
      z-index: 1;
      background-color: #4694b0;
    }

.nav-teto img {
  float: left;
}

.nav-teto h2 {
  position: relative;
}

.selected {
  background-color: #adcbd9 !important;
  color: white;
}

.profile-image {
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-image:url('/assets/images/bg.jpg');
}

/*FONTS*/
@font-face {
  font-family: NovecentoBold;
  src: url(/assets/fonts/NovecentoBold.otf);
}

@font-face {
  font-family: NovecentoLight;
  src: url(/assets/fonts/NovecentoLight.otf);
}

@font-face {
  font-family: NovecentoNormal;
  src: url(/assets/fonts/NovecentoNormal.otf);
}

@font-face {
  font-family: VistaBold;
  src: url(/assets/fonts/VistaSansBlack.ttf);
}

@font-face {
  font-family: VistaNormal;
  src: url(/assets/fonts/VistaSansNormal.ttf);
}

@font-face {
  font-family: VistaLight;
  src: url(/assets/fonts/VistaSansLight.ttf)
}

/* teto blue hex code #16a9de*/
