<h1>Welcome to PersonAPI</h1>

<div>
    <form>
        <input type="hidden" name = "person.id" />
        Enter Name: <input type = "text" [(ngModel)] = "person.name" name = "name"/><br>
        Enter Age: <input type = "text" [(ngModel)] = "person.age" name = "age"/><br>
        <button (click) = "addPerson()">Add Person</button>
    </form>
</div>

<div>
    <table border = "1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor = "let person of people">
            <td>{{person.id}}</td>
            <td>{{person.name}}</td>
            <td>{{person.age}}</td>
            <td><button (click) = "updatePerson(person.id)">Update</button> | <button (click) = "deletePerson(person.id)">Delete</button></td>
        </tr>
    </table>
</div>