h3 {
    text-align: center;
    margin-top: 60px;
}

#form, #spanId {
    margin-left: 250px;
}

#back {
    margin-left: 940px;
    padding: 10px;
}

#save {
    padding: 10px;
    margin-left: 20px;
}

#product {
    position: absolute;
    margin-bottom: 10px;
    margin-left: 810px;
    padding: 10px;
}