<h3>My People
  <br>
  <b>
    <button type="button" class="btn btn-primary" routerLink="/people">+</button>
  </b>
</h3>
<div class="grid grid-pad">
  <a *ngFor="let person of people" class="col-1-4" >
    <div class="module person">
      <h4>{{person.name}}</h4>
        <button class="delete" title="delete person" (click)="delete(person)">X</button>
        <button class="details" title="person details" routerLink="/detail/{{person.id}}"><i class="material-icons">visibility</i></button>
      
       <!-- <button id="lalajao" type="button" class="delete" title="delete person" data-toggle="modal" data-target="#exampleModal">Modal</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div> -->
    </div>
  </a>
</div>