<h2>Add People</h2>
<div class="form-total">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input #personName type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Enter name">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Age</label>
      <input #personAge type="number" class="form-control" id="exampleInputPassword1" placeholder="Enter age">
    </div>

    <button type="submit" class="btn btn-primary"
      (click)="add(personName.value, personAge.value); personName.value=''; personAge.value=''">Add</button>
  </form>
</div>
