#actList.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: rgba(235, 243, 255, 0.95);
}

:host table tr th {
  background-color: #0244a1;
  color: white;
  font-family: VistaNormal;
  font-size:20px;
  text-decoration: none !important;
}

:host table tr {
  font-family: VistaNormal;
}

img {
  object-fit: cover;
  height: 20px;
  align-self:center;
  border-radius:5px 5px;
}
