#actList.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #A4D4E5;
}

:host table th {
  background-color: #16a9de;
  color:white;
}
img {
  object-fit: cover;
  height: 20px;
  align-self:initial;
  border-radius:5px 5px;
}
