#actList.table-striped > tbody > tr:nth-of-type(odd) {
  background-color:ghostwhite;
}

:host table th {
  background-color: dimgrey;
  color:white;
}
img {
  object-fit: cover;
  height: 20px;
  align-self:center;
  border-radius:5px 5px;
}
