@import './styles/bootstrap-4.4.1-dist/css/bootstrap.css';

body {
  background-image: url('/assets/images/bg.jpg');
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
}

.wrapper {
  height: 100%;
  margin: auto 0;
}

:host html, body {
  height: 100% !important;
  margin: 0;
  padding: 0;
}

html #outer { /* ie6 and under only*/
  height: 100%;
}
