<body style="align-content:center; position:center; align-items:center;">

  <div class="row" *ngIf="volunteers">
    <div class="col-sm-3" *ngFor="let volunteer of volunteers">
      <div class="card volunts" style="width: 18rem;">
        <img class="card-img-top" src="/assets/images/avatar{{volunteer.id}}.jpg" routerLink="/detail/{{volunteer.id}}" alt="Card image cap">
        <div class="card-body">
          <a routerLink="/detail/{{volunteer.id}}" style="align-self:flex-start;">
            {{volunteer.id}}.  {{volunteer.name}}
          </a>
          <div>
            <button type="submit" class="btn btn-primary" style="margin: 15% 3% 0% 5%" routerLink="/detail/{{volunteer.id}}">Edit</button>
            <button type="submit" class="btn btn-danger" style="margin:15% 5% 0% 3%" (click)="open(content, volunteer)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *nfIf="!volunteers" class="alert alert-danger">
    No volunteers found to show.
  </div>

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">ATENTION</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Delete {{volunteer.name}} from database?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="deleteVolunteer(volunteer.id); d('Cross click')">Delete</button>
    </div>
  </ng-template>

</body>
