.volunts {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
  font-family: NovecentoNormal;
}

  .volunts li {
    cursor: pointer;
    position: relative;
    background-color: #149bcc;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }

    .volunts li.selected:hover {
      background-color: #65748f !important;
      color: white;
    }

    .volunts li:hover {
      color: white;
      background-color: #889bbd;
      left: .1em;
    }

  .volunts a {
    color: white;
    text-decoration: none;
    position: relative;
    display: block;
    width: 250px;
  }

    .volunts a:hover {
      color: lightgray;
    }

  .volunts .text {
    position: relative;
    top: -3px;
  }

  .volunts .label {
    background-color: #d4e2fa;
    color: #303745;
  }

  .volunts .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #006f99;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }

* {
  box-sizing: border-box;
}

img {
  object-fit: cover;
  height:250px;
}

/*Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
}

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: left;
  background-color: #16a9de;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* teto blue hex code #16a9de*/
